.form{
    width: 100%;
    box-shadow: 0px 4px 8px #00000029;
    margin-bottom: 30px;
    background-color: rgb(72, 16, 72);
    border-radius: 8px;
}

.form-btn{
    font-size: 24px;
    color: white;
    background-color: rgb(72, 16, 72);
    border:none;
    padding: 4px 16px;
    margin: 8px;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bold;
}

.form-input{
    width: 97%;
    box-sizing: border-box;
    padding: 8px 4px;
    font-size: 24px;
    display: block;
    margin: 10px auto;
    outline: none;
}

.heading{
    color: white;
    font-size: 30px;
    padding: 16px 8px;
}

.warning{
    border: 3px solid red;
}